:root {
  --colour-todo-light: rgb(225, 247, 213);
  --colour-todo-medium: rgb(169, 185, 160);
  --colour-todo-dark: rgb(113, 124, 107);
  --colour-doing-light: rgb(201, 201, 255);
  --colour-doing-medium: rgb(151, 151, 191);
  --colour-done-medium: rgb(181, 152, 191);
  --colour-done-light: rgb(241, 203, 255);
  --colour-doing-dark: rgb(101, 101, 128);
  --colour-done-dark: rgb(121, 102, 128);
}

.section {
  padding: 1rem 1.5rem !important;
}
.hero-body {
  padding: 0 0 !important;
}

.kanban-board {
  text-align: center;
}
.kanban-column-title {
  display: inline-block;
}
.kanban-add-task {
  float: right;
}
.kanban-task-cards {
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  min-height: 256px;
}
.kanban-task-cards .level {
  margin: 5px !important;
}
.kanban-task-card {
  /*cursor: pointer;*/
  width: 100%;
}
.kanban-task-card .card-content {
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.kanban-task-description {
  text-align: left;
}
.kanban-task-duedate {
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.kanban-column-todo {
  background: var(--colour-todo-light);
}
.kanban-column-todo .kanban-task-title,
.kanban-column-todo .kanban-task-description {
  color: var(--colour-todo-dark);
}
.kanban-column-doing {
  background: var(--colour-doing-light);
}
.kanban-column-doing .kanban-task-title,
.kanban-column-doing .kanban-task-description {
  color: var(--colour-doing-dark);
}
.kanban-column-done {
  background: var(--colour-done-light);
}
.kanban-column-done .kanban-task-title,
.kanban-column-done .kanban-task-description {
  color: var(--colour-done-dark);
}
.kanban-task-counter {
  border-radius: 50% !important;
  /*vertical-align: text-bottom !important;*/
}
.kanban-log-max {
  display: inline-block;
  max-width: 70px !important;
}
.colour-text-todo {
  color: var(--colour-todo-dark);
}
.colour-text-doing {
  color: var(--colour-doing-dark);
}
.colour-text-done {
  color: var(--colour-done-dark);
}
/*.dragging {*/
/*}*/


/*
Light pastels:
#e1f7d5	(225,247,213)
  *0.75: (169,185,160)
  *0.50: (113,124,107)
#ffbdbd	(255,189,189)
#c9c9ff	(201,201,255)
  *0.75: (151,151,191)
  *0.50: (101,101,128)
#ffffff	(255,255,255)
#f1cbff	(241,203,255)
  *0.75: (181,152,191)
  *0.50: (121,102,128);

Middle-ish pastels:
#e3b2b2	(227,178,178)
#eed896	(238,216,150)
#97e1b3	(151,225,179)
#8ec0d8	(142,192,216)
#cfbaea	(207,186,234)

Dark pastels:
#e3b2b2	(227,178,178)
#eed896	(238,216,150)
#97e1b3	(151,225,179)
#8ec0d8	(142,192,216)
#cfbaea	(207,186,234)
*/

