.kanban-board {
  text-align: center;
}
.kanban-column-todo {
  background: #e1f7d5;
}
.kanban-column-doing {
  background: #c9c9ff;
}
.kanban-column-done {
  background: #f1cbff;
}
.kanban-task-cards {
  border: 1px solid rgba(255, 255, 255, 0.75);
}

/*
#e1f7d5	(225,247,213)
#ffbdbd	(255,189,189)
#c9c9ff	(201,201,255)
#ffffff	(255,255,255)
#f1cbff	(241,203,255)
*/
